body{
    background-color: lightyellow;
}
#panel, #flip {
    padding: 5px;    text-align: center;    background-color: lightblue;    color: yellow;
    font-weight: bold;    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;    display: none;    background-color: blue;    height: 350px;}

img {
  border: 1px solid #ddd;  border-radius: 4px;  padding: 5px;  width: 150px;
}

img:hover {
  border: 1px solid red;
}
h2:hover {
    color:pink;
}
